.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .lInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .lButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .lButton:hover {
    background-color: #0056b3;
  }
  
  span {
    margin-top: 10px;
  }
  